      /* ELA YAREN AYDIN / HASTANE RANDEVU SİSTEMİ PROJE */
      body {
            background-color: #f5f7f5;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            width: 70%;
            max-width: 1000px;
            margin: 0 auto;
            height: 500px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            gap: 20px;
        }

        .login, .signup {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;
        }

        .login {
            border-right: 1px solid #ddd;
        }

        .form-group {
            margin-bottom: 20px;
            position: relative;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, select, button {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            cursor: pointer;
            margin-top: 10px;
            background-color: #d35106;
            border: none;
            border-radius: 8px;
            color: #fff;
        }

        button:hover {
            background-color: #b94705;
        }

        .error {
            margin: 1px;
            color: red;
            display: none;
            position: absolute;
            bottom: -20px;
            left: 0;
            font-size: 0.9em;
        }

        .error.visible {
            display: block;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px 0;
        }

        .header img {
            margin-right: 10px;
        }
